:local(.appFooter) {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-color: rgba(30, 45, 59, 1);
}

:local(.footerTable){
	height: 100%;
	width: 100%;
}

:local(.footerRow){
	width: 100%;
}

:local(.padding){
	width: 50%;
	position: sticky;
}

:local(.footerMenus){
	width:50%;
}
