:local(.headerParentDiv){
	background-color: black;
}

:local(.appHeader) {
  background-color: rgba(30, 45, 59, 1);
  height: 30px;
  padding: 10px;
}

:local(.headerTable){
	height: 100%;
	width: 100%;
}

:local(.headerRow){
	width: 100%;
}

:local(.headerLogo){
	width:100px;
	position: absolute;
}

:local(.headerMenus){
	width:50%;
}

:local(.padding){
	width: 30%;
	position: sticky;
}
:local(.appLogo) {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

:local(.appTitle) {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
