:local(.menus){
  font-size: 10px;
  color: black;
  height: 100%;
  position: sticky;
}

:local(.menuButton){
  width:20%;
  color: white;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  text-decoration: none;
}
:local(.menuButton:hover){
  width:20%;
  color: #9eccd2;
  text-decoration: none;
  cursor: pointer;
}
:local(.ulMenu){
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width:100%;
}
